* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(4,8,28,0.8);
    height: 80px;
    width: 100%;
    position: fixed;
}
h1 {
    color:rgb(255, 255, 255);
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}
header ul {
    position: absolute;
    right: 1vw;
    top: 0;
    line-height: 80px;
}
header li {
    display: inline;
    margin-right: 4vw;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

.Introduction {
    background-color: rgb(128, 172, 172);
    color: white;
    height: 95vh;
    background-image: url("images/thinkai2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Introduction h2 {
    font-size: 55px;
    margin-top: 60px;
}
.Introduction p {
    color:rgb(212, 221, 245);
    font-size:23px;
    margin: 25px 0;
}
.Introduction a {
    color: white;
    text-decoration: none;
    border: 1px solid #cee2f4c4;
    padding:10px 20px;
    border-radius: 5px;
}

.transition1 {
    background-color: rgb(41, 50, 76);
    height: 30px;
}

.Start_Work_Attendance {
    display:flex;
    background-color: rgb(255, 255, 255);
    color:rgb(69, 80, 113);
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.Start_Work_Attendance div{
    width: 450px;
    text-align: center;
}
.Start_Work_Attendance img {
    width: 90%;
    border-radius: 10px;
}
.Start_Work_Attendance h3 {
    font-size: 20px;
    margin: 20px 0;
}
.Start_Work_Attendance p {
    font-size: 14px;
    line-height: 1.6em;
}

.transition2 {
    background-color: rgb(41, 50, 76);
    height: 15px;
}

.Get_Off_Work_Attendance {
    display:flex;
    background-color: rgb(69, 80, 113);
    color:rgb(212, 221, 245);
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}
.Get_Off_Work_Attendance div{
    width: 450px;
    text-align: center;
}
.Get_Off_Work_Attendance img {
    width: 90%;
    border-radius: 10px;
}
.Get_Off_Work_Attendance h3 {
    font-size: 20px;
    margin: 20px 0;
}
.Get_Off_Work_Attendance p {
    font-size: 14px;
    line-height: 1.6em;
}

.transition3 {
    background-color: rgb(41, 50, 76);
    height: 15px;
}

.Record_Monthly {
    display:flex;
    background-color: rgb(255, 255, 255);
    color:rgb(41, 50, 76);
    justify-content: space-between;
    align-items: center;
}
.Record_Monthly div{
    width: 450px;
    text-align: center;
}
.Record_Monthly img {
    width: 100%;
}
.Record_Monthly h3 {
    font-size: 20px;
    margin: 20px 0;
}
.Record_Monthly p {
    font-size: 14px;
    line-height: 1.6em;
}

/*
.Record_Monthly {
    display: flex;
    height: 70vh;
}
.Record_Monthly {
    width: 70%;
}
.info {
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(41, 50, 76);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
.info p {
    text-align: center;
    line-height: 2em;
}*/

footer {
    display: flex;
    background-color: #04081e;
    color: #b7b7b7;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

/*響應式設計語法*/
@media screen and (max-width: 768px){
    header ul {
        display: none;
    }
    header h1 {
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
    }
    .Introduction h2 {
        font-size: 35px;
    }
    .Start_Work_Attendance {
        flex-direction: column;
        padding: 60px 0;
    }
    .Start_Work_Attendance div {
        margin-bottom: 30px;
    }
    .Get_Off_Work_Attendance {
        flex-direction: column;
        padding: 60px 0;
    }
    .Get_Off_Work_Attendance div {
        margin-bottom: 30px;
    }
    .Record_Monthly {
        flex-direction: column;
        
    }
    .Record_Monthly div {
        width: 90%;
    }
    /*.info {
        width: 135%;
        padding: 40px 0;
    }
    .info h2 {
        font-size: 30px;
    }*/
    footer {
        clear: both;
    }
}

.menu {
    display: block;
    background-color: transparent;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 15px;
    left: 20px;
    border: none;
    cursor: pointer;
}


/*
header, section, footer {
    background-color: beige;
    border:5px cadetblue solid; 
    // dashed 虛線 dotted 圓點
    padding: 30px 0 20px 50px;
}*/